@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap");

  html,
  body {
    @apply m-0 p-0 bg-eerie-black text-cultured font-sans-serif scroll-smooth;
  }

  * {
    @apply box-border transition-all duration-300;
  }

  h1 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  a,
  input,
  textarea,
  select,
  button {
    @apply outline-none focus:outline-none;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .section-container {
    @apply w-10/12 mx-auto mt-20 lg:mt-40;
  }

  .tag {
    @apply text-xs font-bold bg-steel-blue w-fit px-2 py-1 rounded-sm text-center;
  }

  .medium-widget {
    @apply mt-0 w-full;
  }

  .medium-widget-article__row {
    @apply grid grid-cols-2 w-full;
  }

  .medium-widget-article__item {
    @apply w-10/12 mx-auto mt-20;
  }

  .medium-widget-article__column {
    @apply h-full flex flex-col;
  }

  .medium-widget-article__image {
    @apply w-full;
  }

  .medium-widget-article__content {
    @apply h-full flex flex-col;
  }

  .medium-widget-article__title {
    @apply text-xl font-bold mt-2;
  }

  .medium-widget-article__info {
    @apply mt-2 h-full flex items-end;
  }

  .medium-widget-article__date {
    @apply text-sm font-bold;
  }
}
